#root {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p.footer {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #888;
}

img {
  border-radius: 8px;
}